body {
	margin: 0px;
	padding: 0px;
	height: 100%;
	-webkit-transition-property: height;
	font-family: '함초롬돋움';
}
.sidebar{
	width: 15%;
	min-width: 115px;
	height: 100%;
	-webkit-transition-property: height;	
	background-color: #737373;
	box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
	padding-top: 20px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 100;
}
.sidebar h1{
	text-align: right;
	color: #F2F2F2;
	padding-right: 15px;
	font-size: 36px;
}
.menu{
	padding: 0;
}
.menu li{
	list-style: none;
	display: block;
	text-align: right;
}
.menu li a{
	font-size: 16px;
	padding-right: 10px;
	color: #F2F2F2;
	display: block;
	width: 100%;
	line-height: 36px;
	text-decoration: none !important;
}
.menu li a span {
	position: relative;
	z-index: 200;
}
.menu li a:after {
	display: inline-block;
	height: 40px;
	float: right;
	position: absolute;
	width: 0px;
	right: 0px;
	background-color: #f2b23a;
	transition: all 0.15s ease-in-out;
	content: " ";
	z-index: 150;
}
.menu li a:hover:after{
	width: 100%;
}
#menu_fix{
	width: 100%;
	position: absolute;
	bottom: 0;
	padding-bottom: 20px;
}

#iframe{
	width: 65%;
	height: 100%;
	-webkit-transition-property: height;
	position: fixed;
	top: 0%;
	left: 15%;
	right: 20%;
	z-index: 0;
	border: 0;
}

#mem_chat{
	width: 20%;
	min-width: 240px;
	height: 100%;
	-webkit-transition-property: height;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0;
	right: 0;
	z-index: 100;
	background: #689470;
}
#mem{
	width: 100%;
	height: 25%;
	min-height: 128px;
	text-align: center;
	padding: 5px;
	border: 5px solid #689470;
	border-bottom: 0;
	background: #F2F2F2;
}
#online_mem span{
	color: #7bb080;
}
#offline_mem span{
	color: #737373;
}
#MemberAddButton{
	text-align: center;
	width: 100%;
	height: 26px;
	font-size: 14px;
	border: 0;
	background: #fccd4c;
}

#chat{
	width: 100%;
	height: 75%;
	position: absolute;
	bottom: 0;
	padding: 5px;
}
#messages{
	width: 100%;
	height: 88%;
	background: #f2f2f2;
	font-size: 14px;
}
.my, .your {
	margin-left: 5px;
	margin-right: 5px;
}
.member{
	clear: both;
	float: left;
	width: 60px;
	margin-left: 5px;
	margin-top: 3px;
}
.msg{
	clear: both;
	max-width: 70%;
	border: 1px solid gray;
	padding: 4px;	
	margin: 3px 0px 4px 0px;
}
.my .msg{
	float: right;
	border-radius: 5px 5px 0 5px;
}
.your .msg{
	float: left;
	border-radius: 5px 5px 5px 0;
}
.time{
	font-size: 10px;
	margin-top: 8px;
}
.my .time{
	float: right;
	margin-right: 3px;
}
.your .time{
	float: left;
	margin-left: 3px;
}

#send{
	width: 100%;
	height: 12%;
	min-height: 36px;
	padding-top: 5px;
}
#m{
	width: 77%;
	height: 100%;
	padding: 5px;
	font-size: 12px;
	position: relative;
	top: -1px;
}
#sendbtn{
	text-align: center;
	float: right;
	width: 21%;
	height: 100%;
	font-size: 13px;
	border: 0;
	background: #fccd4c;
}
