body {
   margin: 0px;
   padding: 0px;
   height: 100%;
   -webkit-transition-property: height;
   font-family: '함초롬돋움', '돋움';
   font-size: 14px;
   overflow: hidden;
}
.sidebar {
   width: 135px;
   height: 100%;
   -webkit-transition-property: height;
   background-color: #3a3e42;
   box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
   padding-top: 20px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 100;
}
.sidebar > a {
   float: right;
   color: #FFFFFF;
   padding-right: 5px;
   font-size: 18px;
   padding-bottom: 10px;
   text-decoration: none;
}
.sidebar > a:hover {
   color: #7bbce0;
}
.menu {
   clear: both;
   margin-top: 20px;
   padding: 0;
}
.menu li {
   list-style: none;
   display: block;
   text-align: right;
}
.menu li a {
   font-size: 16px;
   padding-right: 10px;
   color: #FFFFFF;
   display: block;
   width: 100%;
   height: 40px;
   line-height: 40px;
   text-decoration: none !important;
}
.menu li a span {
   position: relative;
   z-index: 200;
}
.menu li a:after {
   display: inline-block;
   height: 40px;
   float: right;
   position: absolute;
   width: 0px;
   right: 0px;
   background-color: #7bbce0;
   transition: all 0.15s ease-in-out;
   content: " ";
   z-index: 150;
}
.menu li a:hover:after {
   width: 100%;
}
#menu_fix {
   width: 100%;
   position: absolute;
   bottom: 0;
   padding-bottom: 20px;
}

#iframediv {
   height: 100%;
   -webkit-transform-property: height;
   position: absolute;
   top: 0;
   left: 135px;
   right: 285px;
}

#iframe {
   width: 100%;
   height: 100%;
   -webkit-transition-property: height;
   position: absolute;
   z-index: 0;
   border: 0;
}

#mem_chat {
   width: 285px;
   height: 100%;
   -webkit-transition-property: height;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   position: fixed;
   top: 0;
   right: 0;
   z-index: 100;
   background: #282b2f;
}
#mem {
   width: 100%;
   height: 25%;
   min-height: 128px;
   text-align: center;
   padding: 5px;
   border: 5px solid #282b2f;
   border-bottom: 0;
   color: #FFFFFF;
   font-size: 16px;
   font-weight: bold;
}
#MemberAddButton {
   float: right;
   width: 24px;
   font-size: 16px;
   color: #282b2f;
   border: 0;
   padding: 2px;
   background: #fdfdf3;
}
#mem_list {
   width: 100%;
   background: #fdfdf3;
   position: absolute;
   top: 40px;
   left: 0;
   bottom: 75%;
   border: 5px solid #282b2f;
   border-bottom: 0;
   overflow: auto;
   color: #1f1f1f;
}
#online_mem, #offline_mem {
   text-align: left;
   list-style: none;
   font-size: 16px;
}
#online_mem span {
   color: #66cc66;
}
#offline_mem span {
   color: #737373;
}

#chat {
   width: 100%;
   height: 75%;
   position: absolute;
   bottom: 0;
}
#messages {
   width: 100%;
   position: absolute;
   top: 0;
   right: 0;
   bottom: 40px;
   background: #fdfdf3;
   font-size: 14px;
   overflow: auto;
   overflow-x: hidden;
   border: 5px solid #282b2f;
}
#messages h4 {
   clear: both;
   text-align: center;
}
.my {
   float: right;
}
.your {
   float: left;
}
.my, .your {
   width: 220px;
   display: inline-block;
   margin: 0 auto;
   margin-left: 5px;
   margin-right: 5px;
}
.profile {
   clear: both;
   float: left;
   display: inline-block;
   margin-left: 5px;
   margin-top: 3px;
}
.profile img {
   width: 36px;
   height: 36px;
   border-radius: 18px;
}
.member {
   clear: both;
   float: left;
   margin-top: 3px;
   margin-left: 3px;
   display: inline-block;
}
.msg {
   clear: both;
   max-width: 80%;
   min-width: 40px;
   border: 1px solid #d9d9d9;
   padding: 4px;
   margin: 3px 0px 4px 0px;
   background: white;
}
.my .msg {
   float: right;
   border-radius: 5px 0 5px 5px;
}
.your .msg {
   float: left;
   border-radius: 0 5px 5px 5px;
}
.time {
   font-size: 10px;
   margin-top: 8px;
}
.my .time {
   float: right;
   margin-right: 3px;
}
.your .time {
   float: left;
   margin-left: 3px;
}

#send {
   width: 100%;
   height: 35px;
   position: absolute;
   bottom: 0;
   right: 0;
   margin-bottom: 5px;
}
#m {
   width: 75%;
   height: 100%;
   padding: 3px 5px;
   font-size: 14px;
   margin-left: 5px;
}
#sendbtn {
   float: right;
   width: 20%;
   height: 100%;
   padding: 3px 5px;
   font-size: 13px;
   border: 0;
   background: #7bbce0;
   margin-right: 5px;
}
