body {
   margin: 0;
   background: #d9d9d9;
   color: white;
   font-family: '함초롬돋움';
   font-size: 16px;
   height: 100%;
   -webkit-transition-property: height;
}
header{
   color: #1F1F1F;
   text-align: left;
   margin: 35px 0px 20px 20px;
}
#content{
   text-align: center;   
}
.prj{
   float: left;
   width: 200px;
   height: 300px;
   padding: 15px;
   padding-top: 0px;
   border-radius: 15px;
   color: #f2f2f2;
   background: #ee786c;
   box-shadow: 3px 3px 5px 0px  gray;
   margin: 10px;
   text-align: left;
   line-height: 1.42857143;
   box-sizing: border-box;
}
.title{
   clear: both;
   float: right;
   font-size: 30px;
   font-weight: bold;
   text-align: right;
   margin-bottom: 20px;
   position: relative;
   top: -20px;
}
.title:hover{
   cursor: pointer;
}
.detail{
   clear: both;
   font-size: 16px;
   margin-bottom: 20px;
   text-align: left;
   position: relative;
   top: -20px;
}
.due{
   float: left;
   font-size: 24px;
   font-weight: bold;
   position: relative;
   left: -20px;
   top: 260px;
}
.del{
   float: left;
   width: 20px;
   height: 20px;
   position: relative;
   left: 160px;
   top: 270px;
}
.del:hover{
   cursor: pointer;
}
.prj.add{
   padding-top: 35px;
}
input{
   width: 100%;
   padding: 5px 3px;
   margin-bottom: 10px;
   color: #1f1f1f;
   font-size: 14px;
   font-family: '함초롬돋움';
   border: 1px solid #f19e74;
}
input[type="submit"]{
   margin-top: 20px;
}
#prj_add{
   width: 40px;
   height: 40px;
}
#prj_add:hover{
   width: 60px;
   height: 60px;
}
#formProjectAdd{
   text-align: center;
}
.modal{
   color: #303030;
}
